<!DOCTYPE html>
<script>
    const cookieSession = require('cookie-session');
    const bcrypt = require('bcrypt');
    const dbConnection = require('./views/database');
    const session = require('express-session')
</script>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/abf8838859.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <a class="logo_name" href="/Dashboard">Activity</a>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">

            <li>
                <a href="/Dashboard">
                    <i class='bx bx-home-alt'></i>
                    <span class="links_name">หน้าหลัก</span>
                </a>
                <span class="tooltip">หน้าหลัก</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <img src="/photos/Logo.png" alt="profileImg">
                    <div class="name_job">
                        <div class="name">
                            <h5>
                                <%=user.name%>
                            </h5>
                        </div>
                        <div class="job">มหาวิทยาลัยพะเยา</div>
                    </div>
                </div>
                <a href="/users/logout" class="btn btn-danger">
                    <i class='bx bx-log-out' id="log_out"></i>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="text">Dashboard </div>
        <%=user.name%>
            </br>
            </div>
            <table>
                <tr>
                    <th>รายชื่อกิจกรรม</th>
                    <th>วันที่/เวลา</th>
                    <th style="text-align:center;">ชั่วโมงกิจกรรม</th>
                    <th style="text-align:center;">ได้เข้าร่วม</th>
                    <th style="text-align:center;">แบบประเมิน</th>

                </tr>
                <% data2.forEach(function(data){%>
                    <td>
                        <%=data.ActivityName %>
                    </td>
                    <td>
                        <%=new Date(data.startTime).toLocaleString(); %> -
                            <%=new Date(data.endTime).toLocaleString(); %>
                    </td>
                    <td style="text-align:center;">
                        <% 
                        const diffTime = new Date(data.endTime).getTime() - new Date(data.startTime).getTime();                        
                        let score = (Math.floor(diffTime / 3600000) > 8.0) ? 8 : (Math.floor(diffTime / 3600000));
                        %>
                            <%=score%>
                    </td>
                    <td style="text-align:center;">
                        <% if(data.Joined){ %>
                            <i class="show-icon-true fas fa-check"></i>
                            <!-- / -->
                            <% }else{ %>
                                <i class="show-icon-flase fas fa-times"></i>
                                <!-- x -->
                            <% } %>
                    </td>
                    <td style="text-align:center;">
                        <% if(data.Joined){ %>
                        <a href=" /assessmentform/<%=data.ActivityName %>/<%=userID%>">
                            <i class="fas fa-tasks"></i>
                        </a>
                        <% }else{ %>

                        <% } %>

                    </td>

                    </tr>
                    <% });%>


            </table>
    </section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();
        });

        searchBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();
        });


        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            }
        }
    </script>
</body>

</html>