<!DOCTYPE html>
<script>
    
    let id = 0
</script>

<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/abf8838859.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .nightStyle{
            text-align: right;    
        }
        td{
            text-align: center;
        }
        th{
            text-align: center;
        }
    </style>    
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <a class="logo_name" href="/Dashboardadmin">Activity</a>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/Dashboardadmin">
                    <i class='bx bx-home-alt'></i>
                    <span class="links_name">หน้าหลัก</span>
                </a>
                <span class="tooltip">หน้าหลัก</span>
            </li>
            <!-- <li>
                <a href="/Dataassessment/<%=data.ActivityName%>">
                    <i class='bx bx-task'></i>
                    <span class="links_name">ดูสรุปผลแบบประเมิน</span>
                </a>
                <span class="tooltip">ดูสรุปผลแบบประเมิน</span>
            </li> -->
            <li>
                <li class="profile">
                    <div class="profile-details">
                        <img src="/photos/Logo.png" alt="profileImg">
                        <div class="name_job">
                            <div class="name">
                                <%if (user){%>
                                    <h5>
                                        <%=user.name%>
                                    </h5>
                                    <%}%>
                            </div>
                            <div class="job">มหาวิทยาลัยพะเยา</div>
                        </div>
                    </div>
                    <a href="/users/logout" class="btn btn-danger">
                        <i class='bx bx-log-out' id="log_out"></i>
                    </a>
                </li>
        </ul>
    </div>
    <section class="home-section" style="padding-left: 10px; padding-right: 10px;">
        <div class="text">Dashboard Admin </div>
        <a class="button " href="/insert">สร้างกิจกรรม</a>
        <table >
            <tr>
                <th>รายชื่อกิจกรรม</th>
                <th>วันที่/เวลา</th>
                <th>สถานที่</th>
                <th>ชั่วโมงกิจกรรม</th>
                <th>จำนวนคนที่เข้าร่วม</th>
                <th></th>
                <th></th>
                <th>ผลแบบสำรวจ</th>
                <th></th>
            </tr>
            <tr>
                <% data.forEach(function(data){%>
                    <td >
                        <%=data.ActivityName %>
                    </td>
                    <td>
                        <%=new Date(data.startTime).toLocaleString(); %> -
                            <%=new Date(data.endTime).toLocaleString(); %>
                    </td>
                    <td>
                        <%=data.place %>
                    </td>
                    <td>
                        <%=data.score %>
                    </td>
                    <td>
                        <%=data.count %>
                            
                    </td>
                    <td>
                        <a class='button' href="/listweing/<%=data.ActivityName%>">รายชื่อผู้เข้าร่วม</a> 
                    </td>
                    <td>
                        <a class='button' href=" /update/<%=data.No%>">แก้ไขกิจกรรม</a>
                    </td>
                    <td>
                        <a class='button' href=" /Dataassessment/<%=data.ActivityName%>"><i class="fas fa-tasks"></i></a>
                    </td>
                    <td>
                        <form method="post" action="/delete/<%= data.No %>">
                            <%if(data.count>0){%>
                                <button class='buttonblock' type="button" onclick="return alert('กิจกรรมมีผู้เข้าร่่วมแล้วไม่สามารถลบรายการได้');">ลบกิจกรรม</button>
                                <%}else{%>
                                    <button class='button' type="submit" onclick="return confirm('ยืนยันที่จะลบหรือไม่');">ลบกิจกรรม</button>
                                    <%}%>
                        </form>
                    </td>
            </tr>
            <% });%>
        </table>
        <div>
        </div>
        </br>
        </div>
    </section>

    <script type="module">
        import date from 'app.js'; import dateFormat from "dateformat";
    </script>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        
        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange();
        });

       

        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            }
        }
    </script>
</body>

</html>