<!DOCTYPE html>
<script>
  const cookieSession = require('cookie-session');
  const bcrypt = require('bcrypt');
  const dbConnection = require('./views/database');
  const session = require('express-session')
</script>

<html lang="en" dir="ltr">
  <head>

    <meta charset="UTF-8">
  
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
   
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <style>
      #myChart {        
        height:400px; 
        width:400px;
        padding:20px;
        margin: 20px;
        border: 1px solid #ccc;
      }
      #myChart2 {        
        height:400px; 
        width:400px;
        padding:20px;
        margin: 20px;
        border: 1px solid #ccc;
      }

      #myChart3 {        
        height:400px; 
        width:400px;
        padding:20px;
        margin: 20px;
        border: 1px solid #ccc;
      }
      #divChart{  
        padding-left: 20px;      
        width: 30%;
      }
      #divChart2{
        padding-left: 20px;      
        width: 30%;
      }
      #divChart3{        
        padding-left: 20px;      
        width: 30%;
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   </head>
<body>
    
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <a class="logo_name" href="/Dashboard" >Activity</a>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
       <a href="/Dashboard">
         <i class='bx bx-left-arrow-circle' ></i>
         <span class="links_name">ย้อนกลับ</span>
       </a>
       <span class="tooltip">ย้อนกลับ</span>
     </li>
     <li>
     <li class="profile">
         <div class="profile-details">
           <img src="/photos/Logo.png" alt="profileImg">
           <div class="name_job"> 
            <div class="name">
            <h5>
                <%=user.name%>
            </h5>
        </div>            
             <div class="job">มหาวิทยาลัยพะเยา</div>
           </div>
         </div>
        <a href="/users/logout" class="btn btn-danger">
         <i class='bx bx-log-out' id="log_out" ></i>
        </a>
     </li>
    </ul>
  </div>
  <section class="home-section">
      <div class="text" >ข้อมูลสรุปผลแบบประเมิน </div>  </br>
      <div class="container">
        <div class="flex-row100">
          
          <div id="divChart" class="flex-col100"  >            
            &nbsp;
            <canvas id="myChart"></canvas></div>

          <div id="divChart3" class="flex-col100" >              
            &nbsp;
              <canvas id="myChart3"></canvas></div>
          
              
        </div>

        <div class="flex-row100">
          
            
        </div>
     
      
  </section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  
  
  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();
  });
  
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
   }
  }

  const BarColor =['rgb(255, 120, 120)','rgb(224, 192, 151)','rgb(243, 240, 215)','rgb(206, 229, 208)','rgb(255, 191, 134)','rgb(254, 210, 170)'];
  const BarColor2 =['rgb(137, 181, 175)','rgb(150, 199, 193)','rgb(222, 217, 196)','rgb(208, 202, 178)','rgb(246, 215, 167)','rgb(246, 234, 190)'];
  const BarColor3 =['rgb(226, 106, 44)','rgb(255, 130, 67)','rgb(253, 166, 93)','rgb(255, 208, 127)','rgb(229, 137, 10)','rgb(157, 92, 13)'];
  
    
  let actName = <%-JSON.stringify(activityName) %>;
  let label1 = <%-JSON.stringify(label1) %>;
  let data1 = <%-JSON.stringify(data1) %>;
  // document.getElementById("data1").value.split(",").map(x => parseFloat(x));

  let label2 = <%-JSON.stringify(label2) %>;
  let data2 = <%-JSON.stringify(data2) %>;
  //document.getElementById("data2").value.split(",").map(x => parseInt(x));

  let label3 = <%-JSON.stringify(label3) %>;
  let data3 = <%-JSON.stringify(data3) %>;

  console.log(actName); 
  console.log(label1); 
  console.log(data1); 
  console.log(label2); 
  console.log(data2); 
  console.log(label3); 
  console.log(data3); 

  const dataSet1 = [
  {    
    label:'',
    data: data1,
    backgroundColor:BarColor,
    borderColor:BarColor,
    borderWidth: 1
  }  
  ];

  const dataSet2 = [
  {    
    label:'',
    data: data2,
    backgroundColor:BarColor2,
    borderColor:BarColor2,
    borderWidth: 1
  }  
  ];

  const dataSet3 = [
  {    
    label:'',
    data: data3,
    backgroundColor:BarColor3,
    borderColor:BarColor3,
    borderWidth: 1
  }  
  ];

  console.log(dataSet1);
  console.log(dataSet2);
  console.log(dataSet3);
  
const dataChart1 = {
  labels: label1,
  datasets: dataSet1,  
};

const config1 = {
  type: 'pie',
  data: dataChart1,
  options: {
    responsive: true,
    maintainAspectRatio: true,
    plugins: {
      datalabels: {
        display: true,        
        font: {
          size: 18,
        }
      },
      labels: {
        render: 'percentage',        
        precision: 2
      }
    }
  }
}

const dataChart2 = {
  labels: label2,
  datasets: dataSet2,  
};

const config2 = {
  type: 'pie',
  data: dataChart2,
  options: {
    plugins: {
      datalabels: {
        display: true,        
        font: {
          size: 18,
        }
      },
    }
  }
}

const dataChart3 = {
  labels: label3,
  datasets: dataSet3,  
};

const config3 = {
  type: 'pie',
  data: dataChart3,
  options: {
    responsive: true,
    maintainAspectRatio: true,
    plugins: {
      datalabels: {
        display: true,        
        font: {
          size: 18,
        }
      },
      labels: {
        render: 'percentage',        
        precision: 2
      }
    }
  }
}

const myChart = new Chart(
  document.getElementById('myChart'),
  config1
);



const myChart3 = new Chart(
  document.getElementById('myChart3'),
  config3
);

  </script>
</body>
</html>