<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            box-sizing: border-box;
        }
        
        input[type=text],
        select,
        textarea {
            width: 50%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
    </style>
</head>

<body>
    <section class="grid-item insert">
        <h3>สร้างกิจกรรม</h3>
        <input type="hidden" id="messagealert" value="<%=alarmMessage%>">
        <form action="/insert" method="post" id="myForm">
            <div class="container flex-col">
                <div class="input flex-row">
                    <label class="labelName" for="ActivityName">ชื่อกิจกรรม</label>
                    <input class="detail" type="text" id="ActivityName" name="ActivityName" value="<%=QActivity%>" required >
                </div>
                <div class="input flex-row">
                    <label class="labelName" for="place">สถานที่</label>
                    <input class="detail" type="text" id="place" name="place" value="<%=Qplace%>" required >
                </div>
                <div class=" input flex-row ">
                    <label class="labelName " for="startTime ">วัน/เวลาเริ่มกิจกรรม</label>
                    <input type="datetime-local" id="startTime" name="startTime" placeholder="dd/mm/yyyy" value="<%=startDate%>">
                </div>

                <div class="input flex-row">
                    <label class="labelName" for="endTime">วัน/เวลาสิ้นสุดกิจกรรม</label>
                    <input type="datetime-local" id="endTime" name="endTime" placeholder="dd/mm/yyyy" value="<%=endDate%>">
                </div>
            </div>
            <button class='button btn' type="submit" onclick="checkMonth();">สร้าง</button><a class='button2 btn' href=" /Dashboardadmin ">ย้อนกลับ</a>
        </form>
    </section>

    <script>

        if(document.getElementById("messagealert").value!="")
        {
            alert(document.getElementById("messagealert").value);
            document.getElementById("messagealert").value="";
        }

        function checkMonth() {

            if(document.getElementById("ActivityName").value==""){
                return false;
            }

            if(document.getElementById("place").value==""){
                return false;
            }

            const startTimeSelected = document.getElementById("startTime").value;
            const endTimeSelected = document.getElementById("endTime").value;
            const startTime = new Date(startTimeSelected);
            const endTime = new Date(endTimeSelected);

            let result = true;
            const nowTime = new Date();

            if (endTime < startTime) {
                result = false;
            } else {
                result = true;
            }

            if (startTime < nowTime) {
                result = false;
            }

            if (endTime < nowTime) {
                result = false;
            }

            if (!result) {
                alert('อย่าเลือกเวลาย้อนหลัง');
                console.log('อย่าเลือกเวลาย้อนหลัง');
                return false;
            } else {
                //document.getElementById("myForm").submit();
                return true;
            }

        }
    </script>
</body>

</html>